* {
  font-family: "微软雅黑 Regular";
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfloat {
  zoom: 1;
}
.vertical_m {
  vertical-align: middle;
}
.font14 {
  font-size: 14px;
}
/* 会员中心 */
.main_middle_content {
  min-height: 763px;
}
.member_contaniner {
  width: 1100px;
  min-height: 520px;
  box-sizing: border-box;
  margin: 23px auto 243px auto;
}
.member_contaniner .member_left,
.member_contaniner .member_right {
  width: 230px;
  float: left;
  font-size: 14.36px;
  background: #fff;
  min-height: 530px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
.member_contaniner .member_left .left_nav_list li {
  height: 56px;
  line-height: 56px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #eee;
}
.member_contaniner .member_left .left_nav_list li a {
  display: block;
  font-size: 14.36px;
  color: #555e70;
  position: relative;
}
.member_contaniner .member_left .left_nav_list li a img {
  display: none;
  height: 58px;
  position: absolute;
  left: 0px;
  top: -1px;
}
.member_contaniner .member_left .left_nav_list li .img_list {
  display: inline-block;
  background: url("../image/icon/member_user.png") no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 15px 0px 20px;
}
.member_contaniner .member_left .left_nav_list li .img_ji {
  background: url("../image/icon/jifen.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li .img_jiao {
  background: url("../image/icon/jiaoyi.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li .img_shi {
  background: url("../image/icon/film.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li .img_zhi {
  background: url("../image/icon/settings.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li .img_cheng {
  background: url("../image/icon/score.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li .img_cuo {
  background: url("../image/icon/wrong.png") no-repeat;
  height: 16px;
}
.member_contaniner .member_left .left_nav_list li .img_xiao {
  background: url("../image/icon/message.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active a {
  color: #2d50b6;
}
.member_contaniner .member_left .left_nav_list li.active a img {
  display: block;
}
.member_contaniner .member_left .left_nav_list li.active .img_ge {
  background: url("../image/icon/user-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_ji {
  background: url("../image/icon/jifen-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_jiao {
  background: url("../image/icon/jiaoyi-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_shi {
  background: url("../image/icon/film-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_zhi {
  background: url("../image/icon/settings-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_cheng {
  background: url("../image/icon/score-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_cuo {
  background: url("../image/icon/wrong-b.png") no-repeat;
}
.member_contaniner .member_left .left_nav_list li.active .img_xiao {
  background: url("../image/icon/message-b.png") no-repeat;
}
.member_contaniner .member_right {
  width: 832px;
  float: right;
  padding: 20px 28px;
  box-sizing: border-box;
}
.member_contaniner .member_right .tabs_personal {
  font-size: 14px;
  color: #555e70;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.member_contaniner .member_right .tabs_personal li {
  float: left;
  cursor: pointer;
  height: 41px;
  line-height: 41px;
  width: 81px;
  text-align: center;
  border: 1px solid #eee;
  border-left: none;
}
.member_contaniner .member_right .tabs_personal li.right_line {
  height: 42px;
  width: 527px;
  border: none;
  border-bottom: 1px solid #eee;
  cursor: default;
}
.member_contaniner .member_right .tabs_personal li.right_line.myscore {
  width: 692px;
}
.member_contaniner .member_right .tabs_personal li.active {
  color: #2d50b6;
  border-bottom: 1px solid #fff;
}
.member_contaniner .member_right .banner_tip {
  font-size: 16px;
  color: #555e70;
  padding-left: 26px;
  height: 36px;
  line-height: 36px;
  background: #f7f7f7;
  margin: 29px 0px 21px 0px;
}
.member_contaniner .member_right .banner_tip .red {
  color: #ff0416;
}
.member_contaniner .member_right .tabs {
  display: none;
}
.member_contaniner .member_right .tabs.active {
  display: block;
}
.member_contaniner .member_right .trade_videoOrder_header {
  margin-top: 29px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  background: #f7f7f7;
}
.member_contaniner .member_right .trade_videoOrder_header li {
  float: left;
  font-size: 16px;
  color: #555e70;
  box-sizing: border-box;
}
.member_contaniner .member_right .trade_videoOrder_list {
  width: 100%;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-top: none;
  margin-bottom: 270px;
}
.member_contaniner .member_right .trade_videoOrder_list tr {
  border-bottom: 1px solid #dedede;
}
.member_contaniner .member_right .trade_videoOrder_list tr td {
  vertical-align: top;
  font-size: 12px;
}
.member_contaniner .member_right .trade_videoOrder_list tr:last-child {
  border: none;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405,
.member_contaniner .member_right .trade_videoOrder_list .video_list_144,
.member_contaniner .member_right .trade_videoOrder_list .video_list_133,
.member_contaniner .member_right .trade_videoOrder_list .video_list_90 {
  overflow: hidden;
  padding: 22px 0px;
  min-height: 102px;
  color: #999;
  box-sizing: border-box;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_90 {
  padding-right: 10px;
  color: #e85308;
  font-size: 14px;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 {
  padding-left: 26px;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 .video_list_detail {
  font-size: 12px;
  color: #252525;
  float: left;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 .video_list_detail a {
  font-size: 12px;
  color: #252525;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 .video_list_detail .video_list_title {
  width: 190px;
  padding: 3px 0px;
  height: 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 .video_list_detail .video_list_middle {
  padding-bottom: 3px;
}
.member_contaniner .member_right .trade_videoOrder_list .video_list_405 .video_list_detail .video_list_vip a {
  color: #2d50b6 !important;
}
.member_contaniner .member_right .trade_videoOrder_list .imgWrapper {
  width: 90px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-right: 14px;
}
.member_contaniner .member_right .trade_videoOrder_list .imgWrapper img {
  max-width: 90px;
}
.member_contaniner .member_right .trade_intergalOrder_list .video_list_90 {
  color: #2d50b6;
  font-size: 14px;
}
.member_contaniner .member_right .video_list_405 {
  width: 345px;
  padding-left: 26px;
}
.member_contaniner .member_right .video_list_144 {
  width: 204px;
}
.member_contaniner .member_right .video_list_133 {
  width: 133px;
}
.member_contaniner .member_right .video_list_90 {
  width: 90px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_left {
  width: 182px;
  float: left;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_left .imgWrapper {
  margin: 34px 29px 12px 12px;
  max-width: 141px;
  max-height: 130px;
  overflow: hidden;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_left .imgWrapper img {
  max-width: 141px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_left .change_portrait {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: #050505;
  margin-right: 13px;
  box-sizing: border-box;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right {
  float: left;
  padding-top: 34px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_username {
  font-size: 18px;
  color: #050505;
  padding: 16px 0px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr td {
  font-size: 14px;
  color: #3b3b3b;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr td div {
  padding: 9px 0px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr td .width60 {
  width: 60px;
  text-align: justify;
  text-align-last: justify;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr td .width205 {
  width: 205px;
}
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr:first-child .width60,
.member_contaniner .member_right .tabs_personal_banner_0 .banner_basic_right .member_basic_info tr:first-child .width205 {
  padding-top: 0px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .banner_tip,
.member_contaniner .member_right .tabs_personal_banner_2 .banner_tip,
.member_contaniner .member_right .tabs_myvideo .banner_tip {
  font-size: 16px;
  color: #555e70;
  padding-left: 26px;
  height: 36px;
  line-height: 36px;
  background: #f7f7f7;
  margin: 29px 0px 21px 0px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record,
.member_contaniner .member_right .tabs_personal_banner_2 .record,
.member_contaniner .member_right .tabs_myvideo .record,
.member_contaniner .member_right .tabs_personal_banner_1 .major,
.member_contaniner .member_right .tabs_personal_banner_2 .major,
.member_contaniner .member_right .tabs_myvideo .major {
  max-height: 446px;
  overflow: hidden;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li,
.member_contaniner .member_right .tabs_personal_banner_2 .record li,
.member_contaniner .member_right .tabs_myvideo .record li,
.member_contaniner .member_right .tabs_personal_banner_1 .major li,
.member_contaniner .member_right .tabs_personal_banner_2 .major li,
.member_contaniner .member_right .tabs_myvideo .major li {
  width: 225px;
  margin-bottom: 18px;
  float: left;
  margin-right: 49.5px;
  position: relative;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .record_top_hover:hover .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .record_top_hover:hover .del_btn,
.member_contaniner .member_right .tabs_myvideo .record li .record_top_hover:hover .del_btn,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .record_top_hover:hover .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .record_top_hover:hover .del_btn,
.member_contaniner .member_right .tabs_myvideo .major li .record_top_hover:hover .del_btn {
  display: block;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .record_top_hover:hover .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .record_top_hover:hover .imgWrapper,
.member_contaniner .member_right .tabs_myvideo .record li .record_top_hover:hover .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .record_top_hover:hover .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .record_top_hover:hover .imgWrapper,
.member_contaniner .member_right .tabs_myvideo .major li .record_top_hover:hover .imgWrapper {
  opacity: 0.8;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .imgWrapper,
.member_contaniner .member_right .tabs_myvideo .record li .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .imgWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .imgWrapper,
.member_contaniner .member_right .tabs_myvideo .major li .imgWrapper {
  display: block;
  width: 224px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .imgWrapper img,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .imgWrapper img,
.member_contaniner .member_right .tabs_myvideo .record li .imgWrapper img,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .imgWrapper img,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .imgWrapper img,
.member_contaniner .member_right .tabs_myvideo .major li .imgWrapper img {
  max-width: 224px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .del_btn,
.member_contaniner .member_right .tabs_myvideo .record li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .del_btn,
.member_contaniner .member_right .tabs_myvideo .major li .del_btn {
  cursor: pointer;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .textWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .textWrapper,
.member_contaniner .member_right .tabs_myvideo .record li .textWrapper,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .textWrapper,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .textWrapper,
.member_contaniner .member_right .tabs_myvideo .major li .textWrapper {
  display: block;
  font-size: 14px;
  overflow: hidden;
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .textWrapper:hover,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .textWrapper:hover,
.member_contaniner .member_right .tabs_myvideo .record li .textWrapper:hover,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .textWrapper:hover,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .textWrapper:hover,
.member_contaniner .member_right .tabs_myvideo .major li .textWrapper:hover {
  color: #2d50b6;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention {
  padding: 5px 0px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .price,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .price,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .price,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .price,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .price,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .price {
  color: #e85308;
  font-size: 14px;
  float: left;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .attention,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .attention,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .attention,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .attention,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .attention,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .attention {
  float: right;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .attention img,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .attention img,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .attention img,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .attention img,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .attention img,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .attention img {
  margin-top: -2px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .attention .praise,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .attention .praise,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .attention .praise,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .attention .praise,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .attention .praise,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .attention .praise {
  margin-right: 8px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .attention .praise_num,
.member_contaniner .member_right .tabs_personal_banner_1 .record li .price_or_attention .attention .comment_num,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .price_or_attention .attention .comment_num,
.member_contaniner .member_right .tabs_myvideo .record li .price_or_attention .attention .comment_num,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .price_or_attention .attention .comment_num,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .price_or_attention .attention .comment_num,
.member_contaniner .member_right .tabs_myvideo .major li .price_or_attention .attention .comment_num {
  -webkit-text-size-adjust: none;
  font-size: 10px;
  color: #999;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .play_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .play_btn,
.member_contaniner .member_right .tabs_myvideo .record li .play_btn,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .play_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .play_btn,
.member_contaniner .member_right .tabs_myvideo .major li .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24.5px;
  margin-left: -24.5px;
  z-index: 100;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .record li .del_btn,
.member_contaniner .member_right .tabs_myvideo .record li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_1 .major li .del_btn,
.member_contaniner .member_right .tabs_personal_banner_2 .major li .del_btn,
.member_contaniner .member_right .tabs_myvideo .major li .del_btn {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 100;
  display: none;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record li:nth-child(3n),
.member_contaniner .member_right .tabs_personal_banner_2 .record li:nth-child(3n),
.member_contaniner .member_right .tabs_myvideo .record li:nth-child(3n),
.member_contaniner .member_right .tabs_personal_banner_1 .major li:nth-child(3n),
.member_contaniner .member_right .tabs_personal_banner_2 .major li:nth-child(3n),
.member_contaniner .member_right .tabs_myvideo .major li:nth-child(3n) {
  margin-right: 0px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .major,
.member_contaniner .member_right .tabs_personal_banner_2 .major,
.member_contaniner .member_right .tabs_myvideo .major {
  height: auto;
  margin-bottom: 168px;
}
.member_contaniner .member_right .tabs_personal_banner_1 .record.before_more,
.member_contaniner .member_right .tabs_personal_banner_2 .record.before_more,
.member_contaniner .member_right .tabs_myvideo .record.before_more {
  margin-bottom: 25px;
}
.member_contaniner .member_right .table_data_list,
.member_contaniner .member_right .table_data_header {
  height: 34px;
  line-height: 34px;
  border: 1px solid #dedede;
  background: #f7f7f7;
}
.member_contaniner .member_right .table_data_list li,
.member_contaniner .member_right .table_data_header li {
  text-align: center;
  font-size: 16px;
  color: #555e70;
  float: left;
}
.member_contaniner .member_right .table_data_list .width168,
.member_contaniner .member_right .table_data_header .width168 {
  width: 168px;
}
.member_contaniner .member_right .table_data_list .width436,
.member_contaniner .member_right .table_data_header .width436 {
  width: 436px;
}
.member_contaniner .member_right .table_data_list {
  border: 1px solid #dedede;
  border-top: none;
  width: 100%;
  background: #fff;
  margin-bottom: 90px;
}
.member_contaniner .member_right .table_data_list .height51 {
  padding: 8px 0px;
  box-sizing: border-box;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.member_contaniner .member_right .table_data_list tr {
  border-bottom: 1px solid #dedede;
}
.member_contaniner .member_right .table_data_list tr:last-child {
  border: none;
}
.member_contaniner .member_right .trade_myComment {
  width: 100%;
  margin-bottom: 17px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper {
  padding: 20px 0px;
  border-bottom: 1px solid #d9d9d9;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail {
  margin-top: 20px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li {
  float: left;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .portrait_wrapper {
  width: 42px;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .portrait_wrapper img {
  max-width: 42px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .comment_people_time {
  font-size: 14px;
  color: #161616;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .comment_people_time .time {
  font-size: 12px;
  color: #999999;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .comment_content {
  margin: 16px 0px;
  width: 724px;
  line-height: 18px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .agree_and_callback a {
  color: #999;
  font-size: 12px;
}
.member_contaniner .member_right .trade_myComment .comment_Wrapper .comment_detail li .agree_and_callback .agree {
  margin-right: 13px;
}
.member_contaniner .member_right .trade_myComment .comment_imgWrapper {
  display: block;
  width: 90px;
  height: 50px;
  overflow: hidden;
}
.member_contaniner .member_right .trade_myComment .comment_imgWrapper img {
  max-width: 90px;
}
.member_contaniner .member_right #modify_personInfo,
.member_contaniner .member_right #modify_personCode {
  margin-top: 34px;
}
.member_contaniner .member_right #modify_personInfo .form_group,
.member_contaniner .member_right #modify_personCode .form_group {
  font-size: 14px;
  color: #555e70;
  padding: 16px 0px 16px 10px;
  box-sizing: border-box;
}
.member_contaniner .member_right #modify_personInfo .form_group label,
.member_contaniner .member_right #modify_personCode .form_group label {
  display: inline-block;
  width: 56px;
  font-size: 14px;
  color: #555e70;
  box-sizing: border-box;
  text-align: justify;
  text-align-last: justify;
}
.member_contaniner .member_right #modify_personInfo .form_group .point,
.member_contaniner .member_right #modify_personCode .form_group .point {
  margin: 0px 12px 0px 7px;
}
.member_contaniner .member_right #modify_personInfo .form_group input,
.member_contaniner .member_right #modify_personCode .form_group input {
  width: 220px;
  height: 35px;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 16px;
}
.member_contaniner .member_right #modify_personInfo .form_group .error,
.member_contaniner .member_right #modify_personCode .form_group .error {
  font-size: 12px;
  color: #ff0416;
  vertical-align: middle;
  margin-left: 11px;
}
.member_contaniner .member_right #modify_personInfo .form_group .btn,
.member_contaniner .member_right #modify_personCode .form_group .btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 106px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: #5dbcfd;
  text-align: center;
  border-radius: 4px;
  margin: 82px 0px 0px 86px;
}
.member_contaniner .member_right #modify_personCode .form_group {
  padding-left: 0px!important;
  position: relative;
}
.member_contaniner .member_right #modify_personCode .form_group label {
  width: 98px!important;
  text-align: right!important;
  text-align-last: right!important;
}
.member_contaniner .member_right #modify_personCode .form_group img.key_img {
  position: absolute;
  top: 23px;
  left: 312px;
  cursor: pointer;
}
.member_contaniner .member_right #modify_personCode .form_group input {
  padding-right: 35px;
}
.member_contaniner .member_right #modify_personCode .form_group .btn {
  margin-left: 126px!important;
}
.member_contaniner .member_right .myscore_list_header {
  margin-top: 29px;
  background: #f7f7f7;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #dedede;
}
.member_contaniner .member_right .myscore_list_header li {
  float: left;
  font-size: 16px;
  color: #555e70;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.member_contaniner .member_right .list_width_106 {
  width: 106px;
}
.member_contaniner .member_right .list_width_112 {
  width: 112px;
}
.member_contaniner .member_right .list_width_153 {
  width: 153px;
}
.member_contaniner .member_right .list_width_100 {
  width: 100px;
}
.member_contaniner .member_right .list_width_99 {
  width: 99px;
}
.member_contaniner .member_right .list_width_340 {
  width: 340px;
}
.member_contaniner .member_right .list_width_222 {
  width: 222px;
}
.member_contaniner .member_right .list_width_104 {
  width: 104px;
}
.member_contaniner .member_right .list_width_230 {
  width: 230px;
}
.member_contaniner .member_right .list_width_116 {
  width: 116px;
}
.member_contaniner .member_right .list_width_234 {
  width: 234px;
}
.member_contaniner .member_right .list_width_86 {
  width: 86px;
}
.member_contaniner .member_right .list_width50 {
  width: 386px;
  display: inline-block;
  box-sizing: border-box;
}
.member_contaniner .member_right .list_width_218 {
  width: 218px;
}
.member_contaniner .member_right .list_width_114 {
  width: 114px;
}
.member_contaniner .member_right .list_width_222 {
  width: 222px;
}
.member_contaniner .member_right .list_width_102 {
  width: 102px;
}
.member_contaniner .member_right .list_width_126 {
  width: 126px;
}
.member_contaniner .member_right .list_width_246 {
  width: 246px;
}
.member_contaniner .member_right .list_width_187 {
  width: 187px;
}
.member_contaniner .member_right .list_width_213 {
  width: 213px;
  box-sizing: border-box;
}
.member_contaniner .member_right .myscore_list {
  border: 1px solid #dedede;
  border-top: 0px;
}
.member_contaniner .member_right .myscore_list tr {
  border-bottom: 1px solid #dedede;
}
.member_contaniner .member_right .myscore_list tr td div {
  text-align: center;
  height: 56px;
  line-height: 56px;
  color: #666666;
  font-size: 14px;
}
.member_contaniner .member_right .myscore_list tr td .list_width_99,
.member_contaniner .member_right .myscore_list tr td .list_width_104,
.member_contaniner .member_right .myscore_list tr td .list_width_86,
.member_contaniner .member_right .myscore_list tr td .check_errors,
.member_contaniner .member_right .myscore_list tr td .redo_errors {
  color: #5dbcfd;
  cursor: pointer;
}
.member_contaniner .member_right .myscore_list tr:last-child {
  border: none;
}
.member_contaniner .member_right #check_score_detail {
  display: none;
}
.member_contaniner .member_right #check_score_detail .score_detail_back_btn {
  display: inline-block;
  background: #dfdfdf;
  color: #e85308;
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 29px;
}
.member_contaniner .member_right #check_score_detail .myscore_list_header {
  margin-top: 10px!important;
}
.member_contaniner .member_right .myscore_skin_list {
  width: 100%;
  border: none;
}
.member_contaniner .member_right .myscore_skin_list .score {
  color: #5dbcfd;
}
.member_contaniner .member_right .myscore_skin_list tr {
  border: 1px solid #dedede;
  border-top: none;
  box-sizing: border-box;
}
.member_contaniner .member_right .myscore_skin_list tr td {
  box-sizing: border-box;
}
.member_contaniner .member_right .myscore_skin_list tr td div {
  text-align: center;
  height: 56px;
  line-height: 56px;
  color: #666666;
  font-size: 14px;
}
.member_contaniner .member_right .mymessage_list tr td div {
  overflow: hidden;
}
.member_contaniner .member_right .mymessage_list tr td div.list_width_246 {
  box-sizing: border-box;
  padding: 0px 20px;
}
.member_contaniner .member_right .mymessage_list .message_handle {
  cursor: pointer;
  color: #5dbcfd !important;
  text-align: left;
}
.member_contaniner .member_right .mymessage_list .message_handle .check_now {
  margin-left: 58px;
}
.member_contaniner .member_right .mymessage_list .message_handle .vertical_line {
  width: 2px;
  border-right: 2px solid #5dbcfd;
  margin-right: 5px;
}
.member_contaniner .member_right .mymessage_list .message_handle span.active {
  color: #999999!important;
}
